<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.pms.falasantos">

  <uses-permission android:name="android.permission.INTERNET"/>
  <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
  <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
  <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
  <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

  <application
      android:allowBackup="true"
      android:icon="@mipmap/ic_launcher"
      android:label="@string/app_name"
      android:roundIcon="@mipmap/ic_launcher_round"
      android:supportsRtl="true"
      android:theme="@style/CustomTheme">
    <activity
        android:name=".Atividades.MainActivity"
        android:launchMode="singleInstance">
      <intent-filter>
        <action android:name="android.intent.action.MAIN"/>

        <category android:name="android.intent.category.LAUNCHER"/>
      </intent-filter>
    </activity>
    <!-- Define o ícone default para as notificações de mensagens. -->
    <meta-data
        android:name="com.google.firebase.messaging.default_notification_icon"
        android:resource="@drawable/ic_launcher_round"/>
    <!--
    Define a cor a usar para as notificações.
    Usada quando nenhuma cor for definida para as notificações
        -->
    <meta-data
        android:name="com.google.firebase.messaging.default_notification_color"
        android:resource="@color/colorAccent"/>

    <service android:name=".Comunicacoes.recebeFBMens">
      <intent-filter>
        <action android:name="com.google.firebase.MESSAGING_EVENT"/>
      </intent-filter>
    </service>
    <service android:name=".Comunicacoes.firebaseToken">
      <intent-filter>
        <action android:name="com.google.firebase.INSTANCE_ID_EVENT"/>
      </intent-filter>
    </service>

    <activity android:name=".Atividades.SetupActivity"
              android:screenOrientation="portrait">
    </activity>
    <activity android:name=".Atividades.MensagensActivity"
              android:screenOrientation="portrait">
    </activity>
    <activity android:name=".Atividades.AlvosActivity">
    </activity>
    <activity
        android:name=".Atividades.AddAlvoActivity"
        android:screenOrientation="portrait">
    </activity>
    <activity android:name=".Atividades.MensagemActivity">
    </activity>
    <activity android:name=".Atividades.ConfidenActivity">
    </activity>
  </application>

</manifest>